<div class="col-lg-6 mx-lg-auto">
  <div class="card shadow">
    <div class="card-header">
      <h2 class="card-title text-center">Log in</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.label :email%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" , required: true%>
          <div class="valid-feedback">
          </div><br>
        </div>

        <div class="form-group">
          <%= f.label :password%>
          <%= f.password_field :password, autocomplete: "current-password" , class: "form-control" , required: true%><br>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group mb-2 mt-2">
            &emsp;&nbsp;<%= f.check_box :remember_me ,class: "form-check-input"%>
            <%= f.label :remember_me , class: "form-check-label"%><br>
          </div>
        <% end %>

        <div class="form-group mb-2 text-center">
          <%= f.submit "Log in", class: "btn btn-success btn-lg"%>
        </div>
      <% end %>
      <div style="margin-right: 17%"><%= render "users/shared/links" %></div>
    </div>
  </div>
</div>
